<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
    <a th:href="@{https://www.coinbase.com/oauth/authorize?response_type=code&amp;client_id=093f60c5b83ea7e1820cbdb4aa2029843bd5fc0188372342c66c4bf589297604&amp;scope=wallet:accounts:read,wallet:transactions:read,wallet:deposits:create}"> Authorize</a>
    <a th:href="@{https://www.coinbase.com/oauth/authorize?response_type=code&amp;client_id=093f60c5b83ea7e1820cbdb4aa2029843bd5fc0188372342c66c4bf589297604&amp;redirect_uri=https://ec2-52-15-244-59.us-east-2.compute.amazonaws.com:8443/currency-exchange/currency/abc&amp;state=secureRandom&amp;scope=wallet:accounts:read,wallet:transactions:read,wallet:transactions:send&amp;meta[send_limit_amount]=0.10&amp;meta[send_limit_currency]=USD&amp;meta[send_limit_period]=month}"> Authorize for transaction</a>
    
  <!--   <a th:href="@{https://www.coinbase.com/oauth/authorize?response_type=code&amp;client_id=093f60c5b83ea7e1820cbdb4aa2029843bd5fc0188372342c66c4bf589297604&amp;scope=wallet:accounts:read,wallet:transactions:read}"> Authorize</a>
    <a th:href="@{https://www.coinbase.com/oauth/authorize?response_type=code&amp;client_id=093f60c5b83ea7e1820cbdb4aa2029843bd5fc0188372342c66c4bf589297604&amp;redirect_uri=http://localhost:8080/currency/abc&amp;state=secureRandom&amp;scope=wallet:accounts:read,wallet:transactions:read,wallet:transactions:send&amp;meta[send_limit_amount]=0.10&amp;meta[send_limit_currency]=USD&amp;meta[send_limit_period]=month}"> Authorize for transaction</a> -->
</body>
</html>