<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
   <div th:text="${result}"></div>
   <h1>Account Data</h1>
   <div th:text="${accountData}"></div>
    <h2>User Data</h2>
   <div th:text="${userData}"></div>
</body>
</html>